.Chat-Content {
  flex-basis: 70%;

  .Widget-Conversation {
    padding: 0 !important;

    div[class^="conversation-"] {
      padding: 1.5em 2em;
      border-bottom: 1px solid #eee;
      &:last-child {
        border-bottom: none;
      }
    }

    .conversation-options {
      display: flex;
      justify-content: space-between;
      padding: 1em !important;

      .filter {
        margin-right: 1em;

        i::before {
          font-size: 1.25em;
          margin-right: 0.5em;
        }
      }

      .search-message {
        flex: auto;
        display: flex;

        .search-button {
          border-radius: 10px 0 0 10px;
          cursor: default;
        }

        input {
          border: 2px solid #f5f5fb;
          border-radius: 0 10px 10px 0;
          outline: none;
          padding: 0 1em;
        }
      }

      .right-options {
        display: flex;
        align-items: center;

        .favorites {
          margin: 0 1em;

          &.active {
            color: #ffd05b;
          }
        }

        i::before {
          font-size: 1em;
          cursor: pointer;
        }
      }
    }

    .conversation-informations {
      .room-info {
        display: flex;
        align-items: center;
        flex-direction: row;

        .room-avatar {
          width: 4em;
          height: 4em;
          margin-right: 1em;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          overflow: hidden;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

          img {
            width: 100%;
            height: 100%;
          }
        }

        .room-name {
          .name {
            font-weight: bold;
            margin-bottom: 0.5em;
          }
          .description {
            font-size: 0.75em;
          }
        }
      }

      .users-infos {
        display: flex;
        margin-top: 1em;
        align-items: center;

        p {
          margin-right: 2em;
          margin-left: 0.5em;
        }

        .avatar {
          width: 2em;
          height: 2em;
          overflow: hidden;
          border-radius: 100%;
          margin-left: -0.75em;
          cursor: pointer;

          img {
            width: 100%;
          }
        }
      }
    }

    .conversation-content {
      display: flex;
      padding: 0 !important;
      height: 60vh;
      width: calc(100% + 20px);

      .messages {
        padding: 2em;
        flex-basis: 100%;
        overflow: auto;

        ul {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          li {
            display: flex;
            margin-bottom: 2em;
            width: 80%;

            &:last-child {
              margin-bottom: 0;
            }

            .avatar {
              flex: none;
              margin-right: 1em;
              max-width: 32px;
              max-height: 32px;

              img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
              }
            }

            .wrapper {
              .head {
                display: flex;
                align-items: flex-end;
                padding: 0.5em 0 1em 0;

                .name {
                  color: #000;
                  margin-right: 1em;
                }
                .datetime {
                  color: #b4bdc4;
                  font-size: 0.8em;
                }
              }

              .message {
                color: #000;
                font-size: 0.9em;
                line-height: 18px;
                white-space: pre-wrap;
              }
            }

            &.mine {
              align-self: flex-end;
              display: flex;
              justify-content: flex-end;

              .wrapper {
                background-color: #f5f5fb;
                padding: 1em;
                border-radius: 1em 0em 1em 1em;
              }
            }
          }
        }
      }

      .files {
        padding: 1.5em;
        border-left: 1px solid #eee;

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;

          li {
            max-width: 5em;
            max-height: 5em;
            margin-bottom: 0.5em;
            cursor: pointer;

            img {
              width: 100%;
              border-radius: 15px;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .Widget-Input {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em !important;

    i::before {
      color: #c4c4c4;
      font-size: 1.5em;
      cursor: pointer;
    }

    .emoji {
      margin-right: 1em;
    }

    .input-message {
      flex: auto;
      outline: none;
      padding: 4px 1em;
      overflow: hidden;
      border: none;
    }

    .input-options {
      .attach {
        &::before {
          margin-left: 1em;
          padding-right: 0.5em;
          border-right: 1px solid #ebebeb;
        }
      }
      .send {
        &::before {
          color: var(--main-color);
          padding-left: 0.5em;
        }
      }
    }
  }
}
