.Login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 2em;
    text-shadow: 2px 2px 0px rgba(220, 220, 250, 1);
  }

  a {
    background-color: var(--main-color);
    padding: 1em;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-decoration: none;
  }
}
