@import "./reset";

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --main-color: #7f30fe;
}

html,
body {
  width: 100%;
  height: 100%;
  display: initial;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5fb;
  color: #435152;
  font-size: 1em;
}
